
.css{
    background-color: rgb(146,185,1);
    width: 60px;
    height: 50px;
    margin: 50px;
    border-radius: 4px;
    position:relative;
    animation: left-right 5s infinite alternate,colors 5s infinite alternate;
}
@keyframes left-right{
    0%{
        transform:rotate(0deg);
        left:0px;
    }
    25%{
        transform:rotate(20deg);
        left:0px;
       
    }
    50%{
        transform:rotate(0deg);
        left:0px;
    }
    75%{
        transform:rotate(0deg);
        left:200px;
    }
    100%{
        transform:rotate(-360deg);
        left:0px;
    }
}
@keyframes colors {
    from {background-color:rgb(146,185,1) ;}
    to {background-color: lightblue;}
  }
